/*
 * PaymentsAPI
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.bankanovafx.payments.api.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.bankanovafx.payments.api.*;
import com.bankanovafx.payments.api.models.*;
import com.bankanovafx.payments.api.exceptions.*;
import com.bankanovafx.payments.api.http.client.HttpClient;
import com.bankanovafx.payments.api.http.client.HttpContext;
import com.bankanovafx.payments.api.http.request.HttpRequest;
import com.bankanovafx.payments.api.http.response.HttpResponse;
import com.bankanovafx.payments.api.http.response.HttpStringResponse;
import com.bankanovafx.payments.api.http.client.APICallBack;
import com.bankanovafx.payments.api.controllers.syncwrapper.APICallBackCatcher;

public class QuotesController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static QuotesController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the QuotesController class 
     */
    public static QuotesController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new QuotesController();
                }
            }
        }
        return instance;
    }

    /**
     * Refresh the rates for an existing Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to refresh
     * @return    Returns the Quote response from the API call 
     */
    public Quote createRefreshQuote(
                final String bankId,
                final int quoteId
    ) throws Throwable {

        HttpRequest _request = _buildCreateRefreshQuoteRequest(bankId, quoteId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleCreateRefreshQuoteResponse(_context);
    }

    /**
     * Refresh the rates for an existing Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to refresh
     */
    public void createRefreshQuoteAsync(
                final String bankId,
                final int quoteId,
                final APICallBack<Quote> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildCreateRefreshQuoteRequest(bankId, quoteId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            Quote returnValue = _handleCreateRefreshQuoteResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for createRefreshQuote
     */
    private HttpRequest _buildCreateRefreshQuoteRequest(
                final String bankId,
                final int quoteId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/quotes/{quoteId}/refresh");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("quoteId", quoteId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("bankId", bankId);
        _headers.put("x-api-key", Configuration.xApiKey);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().post(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for createRefreshQuote
     * @return An object of type Quote
     */
    private Quote _handleCreateRefreshQuoteResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 400) {
            throw new RequestErrorException("Error in Request", _context);
        }
        if (_responseCode == 403) {
            throw new APIException("Forbidden", _context);
        }
        if (_responseCode == 500) {
            throw new RequestErrorException("System Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        Quote _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<Quote>(){});

        return _result;
    }

    /**
     * Attempts to cancel a Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to refresh
     */
    public void deleteCancelQuote(
                final String bankId,
                final int quoteId
    ) throws Throwable {

        HttpRequest _request = _buildDeleteCancelQuoteRequest(bankId, quoteId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        _handleDeleteCancelQuoteResponse(_context);
    }

    /**
     * Attempts to cancel a Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to refresh
     */
    public void deleteCancelQuoteAsync(
                final String bankId,
                final int quoteId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildDeleteCancelQuoteRequest(bankId, quoteId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            _handleDeleteCancelQuoteResponse(_context);
                            callBack.onSuccess(_context, null);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for deleteCancelQuote
     */
    private HttpRequest _buildDeleteCancelQuoteRequest(
                final String bankId,
                final int quoteId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/quotes/{quoteId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("quoteId", quoteId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("bankId", bankId);
        _headers.put("x-api-key", Configuration.xApiKey);
        _headers.put("user-agent", BaseController.userAgent);


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().delete(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for deleteCancelQuote
     */
    private void _handleDeleteCancelQuoteResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 400) {
            throw new RequestErrorException("Error in Request", _context);
        }
        if (_responseCode == 403) {
            throw new APIException("Forbidden", _context);
        }
        if (_responseCode == 500) {
            throw new RequestErrorException("System Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);


    }

    /**
     * Lock the rate for a given Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to lock
     */
    public void createLockQuote(
                final String bankId,
                final int quoteId
    ) throws Throwable {

        HttpRequest _request = _buildCreateLockQuoteRequest(bankId, quoteId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        _handleCreateLockQuoteResponse(_context);
    }

    /**
     * Lock the rate for a given Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    quoteId    Required parameter: ID of quote to lock
     */
    public void createLockQuoteAsync(
                final String bankId,
                final int quoteId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildCreateLockQuoteRequest(bankId, quoteId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            _handleCreateLockQuoteResponse(_context);
                            callBack.onSuccess(_context, null);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for createLockQuote
     */
    private HttpRequest _buildCreateLockQuoteRequest(
                final String bankId,
                final int quoteId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/quotes/{quoteId}/lock");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("quoteId", quoteId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("bankId", bankId);
        _headers.put("x-api-key", Configuration.xApiKey);
        _headers.put("user-agent", BaseController.userAgent);


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().post(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for createLockQuote
     */
    private void _handleCreateLockQuoteResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 400) {
            throw new RequestErrorException("Error in Request", _context);
        }
        if (_responseCode == 403) {
            throw new APIException("Forbidden", _context);
        }
        if (_responseCode == 500) {
            throw new RequestErrorException("System Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);


    }

    /**
     * Create new Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    body    Required parameter: Quote data
     * @return    Returns the Quote response from the API call 
     */
    public Quote createQuote(
                final String bankId,
                final Quote body
    ) throws Throwable {

        HttpRequest _request = _buildCreateQuoteRequest(bankId, body);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleCreateQuoteResponse(_context);
    }

    /**
     * Create new Quote
     * @param    bankId    Required parameter: Bank ID (Routing Number)
     * @param    body    Required parameter: Quote data
     */
    public void createQuoteAsync(
                final String bankId,
                final Quote body,
                final APICallBack<Quote> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildCreateQuoteRequest(bankId, body);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            Quote returnValue = _handleCreateQuoteResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for createQuote
     */
    private HttpRequest _buildCreateQuoteRequest(
                final String bankId,
                final Quote body) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.getBaseUri();

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/quotes");
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("bankId", bankId);
        _headers.put("x-api-key", Configuration.xApiKey);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(body));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for createQuote
     * @return An object of type Quote
     */
    private Quote _handleCreateQuoteResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 400) {
            throw new RequestErrorException("Error in Request", _context);
        }
        if (_responseCode == 403) {
            throw new APIException("Forbidden", _context);
        }
        if (_responseCode == 500) {
            throw new RequestErrorException("System Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        Quote _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<Quote>(){});

        return _result;
    }

}
